.main-heading {
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
  color: #0d0d0d;
  padding: 0 20px;
  max-width: 100%;
  @media screen and (min-width: 1200px) {
    font-size: 70px;
  }
}

.separator {
  position: relative;
  width: 100%;
  margin: 28px auto 30px auto;
  height: 5px;
  display: block;
  display: flex;
  justify-content: center;
  span {
    display: block;
    position: relative;
    // margin: 0 0 0 34px;
    width: 5px;
    height: 5px;

    background: #0d0d0d;
    border-radius: 10px;
    &:before, &:after {
      content: "";
      vertical-align: top;
      display: inline-block;
      width: 28px;
      height: 2px;
      border-bottom: 1px solid #0d0d0d;
      position: absolute;
      top: 0;
      right: 12px;
    }
    &:after {
      left: 12px;
      right: inherit;
    }
  }

}

.subHeading {
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 18px;
  line-height: 29px;
  padding: 0 20px;
  @media screen and (min-width: 1200px) {
    font-size: 21px;
  }
}