.testimonials {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url('../../images/testimonials-background2.jpg');
  padding: 20px;
  background-position: center;
  background-size: cover;

  .testimonial {
    color: #fff;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    justify-content: center;


    &__name {
      font-weight: 700;
      letter-spacing: 0.1em;
      color: #ffffff;
      text-transform: uppercase;

    }
    &__company {
      font-size: 13px;
      line-height: 16px;
      margin-top: 5px;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
    }
    p {
      letter-spacing: 0.02em;
      color: #ffffff;
      max-width: 600px;
      text-align: center;
      line-height: 1.6;
      font-size: 24px;
      @media screen and (min-width: 1200px) { 
        font-size: 26px;
      }
    }
  }
}