.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root {
  
  padding: 20px 20px 0 20px;
  position: relative;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  overflow: hidden; 
  @media screen and (min-width: 1200px) {
    padding: 30px 30px 0 30px;
  }
}
.main-wrapper {
  background-color: #ffffff;
}

.container {
  max-width: 1080px!important;  
  margin: 0 auto;
}

p {
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 26px;
  color: #4d4d4d;
  text-align: left;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: #0d0d0d;
  }
}