.about {
  display: flex;
  margin-bottom: 80px;
  max-width: 100%;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
  h4 {
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #0d0d0d;
    letter-spacing: 0.02em;
    position: relative;
    padding-bottom: 10px;

    &:after {
      width: 40px;
      height: 1px;
      line-height: 1px;
      background: #0d0d0d;
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
    }
  }

  &__item {
    padding: 25px;
  }
}